#root {
  width: 100%;
}

/* Container */
.calendar-wrapper {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #e5e5e5;
  width: 100%;
  max-width: 80vw;
  margin: auto;
  color: black;
}

/* Header Row */
.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}

.day-name {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.day-date {
  font-size: 22px;
  font-weight: bold;
}

/* Slot Buttons Grid */
.calendar-slots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}

/* Slot Buttons */
.slot-btn {
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #000;
  background: #fff;
  color: black;
  transition: all 0.2s ease;
}

.slot-btn:hover {
  transform: scale(1.03);
}

.slot-selected {
  background: #000;
  color: #fff;
  border-color: #000;
}

.slot-disabled {
  background: #ececec !important;
  border-color: transparent !important;
  color: #a0a0a0 !important;
  pointer-events: none;
}

.no-slots {
  background: #e6e6e6;
  color: #8d8d8d;
  font-weight: 500;
  cursor: default;
  border-radius: 6px;
  padding: 10px;
}

/* Selected Slot Tags */
.selected-slots-wrapper {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.selected-pill {
  background: #f6f6f6;
  color: #000;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ddd;
}

/* Bottom Bar */
.footer-bar {
  margin-top: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-btn {
  padding: 10px 18px;
  background: #0b3bcb;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.book-btn:hover {
  background: #002fa1;
}

/* Responsive */
@media (max-width: 850px) {
  .calendar-header,
  .calendar-slots {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 550px) {
  .calendar-header,
  .calendar-slots {
    grid-template-columns: repeat(2, 1fr);
  }
}
